body {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px 20px;
background: #fcfafa;
}

/* font styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    font-family: 'Chakra Petch';color: rgb(255, 213, 0);
}

p {
    font-size: 1.5rem;
}

.link-back,
a {
    text-decoration: none;
    color: rgb(0, 255, 238);
}

.page-header h1:hover {
    letter-spacing: 2px;
}

.page-header,
h1 {
    margin: 0;
    COLOR: lime;
    font-size: 4.2vw !important;
    width: 100%;
    text-align: center;
    font-family: 'Chakra Petch' !important;
    transition: letter-spacing 0.3s ease;
}


/* Grid for Homepage Main */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caption {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 2rem;color:lime
}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh;
    background-size: cover !important;
    background-position: center;
    background: linear-gradient(to bottom right, #32CD32, transparent);
    border-radius: 20%;
    border: 2px dashed lime;
}

.captions-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.caption, .caption-github {
    display: inline-block; 
    padding: 5px 10px;
    margin: 0;
}

.caption-github{    border: 2px dashed lime;
    border-radius: 50%;
    padding: 10px 5px;}

.caption-github:hover {background: lime;color: black!important;}


.caption:hover {
    text-shadow: 2px 2px 10px #32CD32;
  }
  
/* Pop up info trigger */
div.info {
    position: absolute;
    padding: 40px 30px;
    animation: spin 8s linear infinite;
    background: black;
    left: 20px;color:lime;
    border: 2px dashed lime;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    top: 20px;
    z-index: 1000;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
border:2px dashed lime;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: #000;
 
}

/* Modal Content/Box */
.modal-content {
    background-color: #000;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
}

/* The Close Button */
.close {
    color: lime;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 20px;
}

.close:hover,
.close:focus {
    color: lime;
    text-decoration: none;
    cursor: pointer;
}


/* Reset any default margins and padding */

model-viewer {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}

